Project/project.cache/
Project/project.hw/
Project/project.ip_user_files/
Project/project.runs/
Project/project.sim/
Project/project.xpr
UART_transceiver_pc/Debug/
UART_transceiver_pc/.vs/
UART_transceiver_pc/UART_transceiver_pc.sln
UART_transceiver_pc/UART_transceiver_pc.vcxproj
UART_transceiver_pc/UART_transceiver_pc.vcxproj.filters
UART_transceiver_pc/UART_transceiver_pc.vcxproj.user

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
